<mat-card>
  <mat-card-header>
    <mat-card-title> {{ hero.superhero }}</mat-card-title>
    <mat-card-subtitle>{{ hero.alter_ego }}</mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="hero | image" alt="" />

  <mat-card-content>
    <h3>{{ hero.publisher }}</h3>
    <p>
      <strong>First Appearance</strong> {{ hero.first_appearance }}
      <br />
      <strong>Characters:</strong> {{ hero.characters }}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button [routerLink]="['/heroes/', hero.id]" mat-button color="warn">
      Read more...
    </button>
    <button [routerLink]="['/heroes/edit/', hero.id]" mat-button color="info">
      Edit
    </button>
  </mat-card-actions>
</mat-card>
